/* General page style stuff */
body {
  margin-bottom: 150px;
}

.section {
  margin-top: 50px; 
  margin-bottom: 75px;
}

.section-small {
  margin-top: 50px; 
  margin-bottom: 50px;
}

.chart-caption {
  font-size: 0.75em;
  text-align: center;
  width: 75%;
  margin: 20px auto auto auto;
}

div.tooltip {
  position: absolute;
  width: 320px;
  text-align: left;
  padding: 7px;
  font: 10px sans-serif;
  line-height: 1.6;
  background: #00212B;
  pointer-events: none;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11), 0 5px 15px 0 rgba(0,0,0,0.08);
}

.background-hatch {
  stroke: #004052;
}

/* SVG filter for darkening elements */
.darker {
  filter: url(#darker);
}

/* Graph styles */
.xaxis line{
  stroke-width: 0.5px;
  stroke: #657b83;
}

.xaxis path{
  stroke-width: 0.5px;
  stroke: #657b83;
}

.xaxis text{
  fill: #93a1a1ed;
}

.yaxis line{
  stroke-width: 0.5px;
  stroke: #657b83;
}

.yaxis path{
  stroke-width: 0.5px;
  stroke: #657b83;
}

.yaxis text{
  fill: #93a1a1ed;
}

.xaxis-minor-tick line{
  stroke: none;
}

.xaxis-minor-tick path{
  stroke: none;
}

.xaxis-minor-tick text{
  fill: none;
}

.tick line {
  stroke-width: 0.5px;
  stroke: #324f5a;
}



.double-feature-text {
  dominant-baseline: central;
  pointer-events: none;
}
