/* Color definitions */
:root {
  --moviepass-color: #d33682;
  --sinemia-color: #2aa198;
  --free-tickets-color: #859900;
  --gift-color: #b58900;
  --snuck-in-color: #6c71c4;
  --none-color: #586e75;
}


/* General page style stuff */
body {
  margin-bottom: 150px;
}

.section {
  margin-top: 50px; 
  margin-bottom: 75px;
}

.section-small {
  margin-top: 50px; 
  margin-bottom: 50px;
}

.chart-caption {
  font-size: 0.75em;
  text-align: center;
  width: 75%;
  margin: 20px auto auto auto;
}

div.tooltip {
  position: absolute;
  width: 320px;
  text-align: left;
  padding: 7px;
  font: 10px sans-serif;
  line-height: 1.6;
  background: #00212B;
  pointer-events: none;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11), 0 5px 15px 0 rgba(0,0,0,0.08);
}


/* Per-service color stuff */
.service-moviepass {
  fill: var(--moviepass-color);
  color: var(--moviepass-color);
}
.service-moviepass-hatch {
  stroke: var(--moviepass-color);
}

.service-sinemia {
  fill: var(--sinemia-color);
  color: var(--sinemia-color);
}
.service-sinemia-hatch {
  stroke: var(--sinemia-color);
}

.service-free-tickets {
  fill: var(--free-tickets-color);
  color: var(--free-tickets-color);
}
.service-free-tickets-hatch {
  stroke: var(--free-tickets-color);
}

.service-gift {
  fill: var(--gift-color);
  color: var(--gift-color);
}
.service-gift-hatch {
  stroke: var(--gift-color);
}

.service-snuck-in {
  fill: var(--snuck-in-color);
  color: var(--snuck-in-color);
}
.service-snuck-in-hatch {
  stroke: var(--snuck-in-color);
}

.service-none {
  fill: var(--none-color);
  color: var(--none-color);
}
.service-none-hatch {
  stroke: var(--none-color);
}

.background-hatch {
  stroke: #004052;
}

/* SVG filter for darkening elements */
.darker {
  filter: url(#darker);
}

/* Graph styles */
.xaxis line{
  stroke-width: 0.5px;
  stroke: #004052;
}

.xaxis path{
  stroke-width: 0.5px;
  stroke: #004052;
}

.xaxis text{
  fill: #93a1a1ed;
}

.yaxis line{
  stroke-width: 0.5px;
  stroke: #004052;
}

.yaxis path{
  stroke-width: 0.5px;
  stroke: #004052;
}

.yaxis text{
  fill: #93a1a1ed;
}

.tick line {
  stroke-width: 0.5px;
  stroke: #004052;
}

.double-feature-text {
  dominant-baseline: central;
  pointer-events: none;
}
